.Desktop-profile-page{
    display: none;
}



@media (min-width: 1024px) {


.Desktop-profile-page{
    display: block;
}

.sidebar-links:hover{
    background: #b7b8b9;
    border-radius: 8px;

}
}

@media(min-width:650px){
   .profile-page{
    display: none;
}

}
